body
{
    background-color: #222222;
    color: #dddddd;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.logo
{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    padding: 20px;
}

.kontener
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 1200px;
}

.rzad
{
    margin-top: 25px;
}

.galeria
{
    width: 246px;
    min-height: 200px;
    margin-right: 40px;
    float: left;
    
    border: 2px solid #222222;
}

.galeria:first-child
{
    margin-left: 40px;
}

.galeria:hover
{
    border: 2px solid tomato;
}

.galeria img
{
    width: 100%;
    height: auto;
}

.galeria .opis
{
    text-align: center;
}