body
{
    background-color: #222222;
    color: #dddddd;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.logo
{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    padding: 20px;
}

.kontener
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 1200px;
}

.galeria
{
    width: 250px;
    height: 200px;
    margin-right: 40px;
    background-color: tomato;
    float: left;
}

.galeria:first-child
{
    margin-left: 40px;
}